.chat_holder {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1.25rem 3rem;
    box-sizing: border-box;
}

.chat_messages {
    height: 95%;
    padding: 0.75rem;
    box-sizing: border-box;
    overflow-y: auto;
}

.chat_message {
    display: flex;
    margin-bottom: 0.5rem;
}

.chat_message.received {
    justify-content: flex-start;
}

.chat_message.sent {
    justify-content: flex-end;
}

.message {
    background: lightgray;
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    width: fit-content;
    max-width: 15rem;
    min-width: 2rem;
    height: auto;
    min-height: fit-content;
}

.chat_input_holder {
    height: 5%;
}

.chat_input {
    border-radius: 1rem;
    width: 100%;
    border: 1px solid lightgray;
    height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1rem;
    box-sizing: border-box;

}

.chat_input_field {
    /* width: 100%; */
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}